<div class="col-md-12 lista-aziende-item" style="padding-left: 0; padding-right: 0" ng-class="{ 'lista-aziende-item-selected': isSelectedAziendaItem(azienda) == true,  'lista-aziende-item':  isSelectedAziendaItem(azienda) == false}">
    <div class="col-md-3">{{azienda.nome_sede}}</div>
    <div class="col-md-2" style="padding-left: 0;padding-right: 0;">{{azienda.codice_interno_azienda}}</div>
    <div class="col-md-3" style="padding-left: 0;padding-right: 0;">{{azienda.comune}}</div>
    <div class="col-md-1" style="padding-left: 0;padding-right: 0;"> {{azienda.sigla_provincia}}</div>
    <div class="col-md-3" style="padding-left: 0;padding-right: 0;">{{azienda.nome_medico}} {{azienda.cognome_rag_sociale}}</div>
</div>