<div class="col-md-12 lista-aziende-item"
     ng-class="{ 'lista-aziende-item-disabled': editable == false, 'lista-aziende-item-selected': isSelectedAziendaItem(azienda) == true && editable == true,  'lista-aziende-item':  isSelectedAziendaItem(azienda) == false && editable == true}"
     style="padding-left: 0px;padding-right: 0px;">
    <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">{{azienda.nome_sede}}</div>
    <div class="col-md-1" style="padding-left: 0;padding-right: 0;">{{azienda.codice_interno_azienda}}</div>
    <div class="col-md-3" style="padding-left: 0;padding-right: 0;">{{azienda.comune}}</div>
    <div class="col-md-1" style="padding-left: 0;padding-right: 0;"> {{azienda.sigla_provincia}}</div>
    <div class="col-md-3" style="padding-left: 0;padding-right: 0;">{{azienda.nome_medico}} {{azienda.cognome_rag_sociale}}</div>
    <div class="col-md-1" style="margin-top: 2px;margin-bottom: 2px;">
        <button ng-click="moveUp(azienda)" ng-disable="azienda.ordine == 0 || editable == false" type="button" style="height: 20px;width: 20px;border-radius:4px;" class="move-up-button_16"
                ng-class="azienda.ordine == 0 || editable == false ? 'btn-default-disabled' : 'btn-default'">
        </button>
        <button id="btnMoveDown" ng-click="moveDown(azienda)" ng-disable="hideButton(azienda) || editable == false" class="move-down-button_16"  style="height: 20px;width: 20px; border-radius:4px;"
                ng-class="hideButton(azienda) || editable == false ? 'btn-default-disabled' : 'btn-default'"></button>
    </div>
</div>