<div id="gruppi-locali-view-content" class="col-md-12" style="background-color: #5bc0de;">
    <div class="col-md-4" style="height: 100%">
        <gruppi-locali-list gruppi-locali-list="gruppiLocaliList" selected-gruppo-locale="selectedGruppoLocale" editable="editable"></gruppi-locali-list>
    </div>
    <div class="col-md-8" style="height: 100%;">
        <gruppo-locale-info  tmp-gruppo-locale="tmpGruppoLocale" editable="editable"></gruppo-locale-info>
    </div>
</div>
<div>
    <gruppi-locali-action-bar editable="editable"></gruppi-locali-action-bar>
</div>
