<div style="height: 100%" class="panel panel-primary">
    <div class="panel-heading">Lista Aziende {{}}</div>
    <div class="col-md-12 lista-aziende-header" style="padding-left: 0; padding-right: 0">
        <div class="col-md-3"><label>Nome Sede</label></div>
        <div class="col-md-1" style="padding-left: 0; padding-right: 0;" ><label>Cod.Int.</label></div>
        <div class="col-md-3" style="padding-left: 0;padding-right: 0;"><label>Comune</label></div>
        <div class="col-md-1" style="padding-left: 0;padding-right: 0;margin-left: -15px;"><label>Prov.</label></div>
        <div class="col-md-3" style="padding-left: 0;padding-right: 0;"><label>Medico</label></div>
        <div class="col-md-1" style="padding-left: 0;padding-right: 0;"></div>
    </div>

    <div class="container-aziende-panel-body-p">
        <div ng-class="editable == true ? 'panel-aziende-body-p' : 'panel-aziende-body-disabled'">
            <div ng-repeat="azienda in aziendeList | orderBy:'ordine'">
                <azienda-item ng-hide="azienda.elaborare == -1" editable="editable" azienda="azienda"></azienda-item>
            </div>
        </div>
    </div>
</div>